# CMake files
#Makefile
build/app/*
build/CMakeFiles
build/Makefile
CMakeCache.txt
cmake_install.cmake

# root dictionaries
*Dict.cxx
*Dict.h
*.rootcint
dict.rfict.pcm
dict_rdict.pcm
dict.*

# highland setup files
setup.sh
setup.csh
cleanup.sh
cleanup.csh
rootmap_setup.sh

# compiller libs
*.d
*.a
*.so
*.dylib
*.exe
*.o
*.make
*.stamp
*.shstamp

# personal mac files
vis_cluster_*

#personal settings
*.json
*.DS_Store

#personal environment
mypath.sh

#output files
*.wrl
*.root
mybuild
.vscode
t2k_nd280-upgrade.code-workspace
build_mac
